<div style="position: relative;">
  <app-like-recipe
    *ngIf="recipe && currentUser"
    [recipe]="recipe!"
    [currentUser]="currentUser"
    (likeToggled)="onLikeToggled($event)"
    style="position: absolute; top: 0; right: 0; z-index: 2;"
  ></app-like-recipe>
  <h1>{{ recipe?.recipe_name }}</h1>
</div>
<img [src]="recipe?.imagePath" alt="Recipe Image" />
<p>{{ recipe?.author }}</p>
<p>{{ recipe?.type }}</p>
<p>{{ recipe?.ingredients }}</p>
<p>{{ recipe?.instructions }}</p>
<p>{{ recipe?.cuisine }}</p>
<p>{{ recipe?.cooking_time }}</p>
