<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Recipe Planner</span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/recipes">Recipes</a>
    <a mat-button routerLink="/meal-plan">Meal Plan</a>
    <a mat-button routerLink="/shopping-lists">Shopping Lists</a>
    <ng-container *ngIf="!currentUser">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="currentUser">
      <button mat-button [matMenuTriggerFor]="userMenu">
        {{ currentUser.username }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu> 