<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">Recipe Planner</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/recipes" class="navbar-item">Recipes</a>
      <a *ngIf="currentUser" routerLink="/profile" class="navbar-item"
        >My Profile</a
      >
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!currentUser" routerLink="/" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a *ngIf="!currentUser" routerLink="/" class="button is-light">
            Log in
          </a>
          <a *ngIf="currentUser" routerLink="/profile" class="button is-light">
            {{ currentUser.username }}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
