<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">Recipe Planner</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/recipes" class="navbar-item">Recipes</a>
      <a *ngIf="currentUser" routerLink="/meal-plan" class="navbar-item"
        >Meal Plan</a
      >
      <a
        *ngIf="currentUser"
        routerLink="/user-profile/{{ currentUser.id }}"
        class="navbar-item"
        >Profile</a
      >
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <ng-container *ngIf="currentUser; else authButtons">
            <button class="button is-light" (click)="onLogout()">Logout</button>
          </ng-container>
          <ng-template #authButtons>
            <a routerLink="/register" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a routerLink="/login" class="button is-light"> Log in </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>
