.navbar {
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.8rem;
}

.navbar-brand a:hover {
  color: #f97316; /* Primary blue on hover */
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 2rem;
}

.navbar-start {
  display: flex;
  gap: 1rem;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.navbar-item:hover {
  background-color: transparent; /* No background */
  color: #f97316; /* Change only text color on hover */
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.1rem;
}

/* Primary Button */
.button.is-primary {
  background-color: #f97316;
  color: white;
}

.button.is-primary:hover {
  background-color: #f97316; /* Darker blue on hover */
}

/* Light Button */
.button.is-light {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #dee2e6;
  font-size: 1.1rem;
}

.button.is-light:hover {
  background-color: #f1f3f5; /* Very subtle lighter hover */
  color: #f97316; /* Change text color slightly */
}
