<mat-card class="auth-container">
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="register = !register; login = false"
    >
      Register
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="login = !login; register = false"
    >
      Login
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="handleLogout()"
      *ngIf="isAuthenticated"
    >
      Logout
    </button>
  </div>

  <form
    *ngIf="register"
    [formGroup]="registerForm"
    (ngSubmit)="handleRegister()"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="email"
        formControlName="email"
        type="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        formControlName="username"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        formControlName="password"
        type="password"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>

  <form *ngIf="login" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        formControlName="username"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        formControlName="password"
        type="password"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>

  <div *ngIf="isAuthenticated" class="welcome">
    <p>Welcome, {{ username }}!</p>
  </div>
</mat-card>
