.auth-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: rgb(138, 192, 212);
}

mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 10px;
}

.welcome {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(79, 135, 155);
  color: rgb(189, 54, 199);
}
